.container {
  width: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  margin-left: auto;
  margin-right: auto;

  @include media(tabletAndUp) {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 80rem;
  }

  &.main{
    display: flex;
    gap: 3em;
    flex-direction: column;
    justify-content: space-around;

    @include media(tabletAndUp) {
      flex-direction: row;
    }
  }

  &-posts{
    flex: 6 1 60vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &-sidebar{
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    gap: 2em;

  }

  &-sidebar-item{
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-s);
    gap: 2em;
    padding: var(--space-m) var(--space-m);
  }

  &-sidebar-item-title {
    font-size: var(--font-size-xl);
    font-weight: bold;
  }

  &-sidebar-item-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
  }

  &-sidebar-pic{
    border-radius: 50%;
    height: 110px;
    width: 110px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('/my_head.jpg');
  }

  &-sidebar-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }

  &-sidebar-counter_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



