.header {
  display: flex;
  flex-direction: column;
  margin-top: 0;

  &-nav {
    display: flex;
    left: 0;
    right: 0;
    position: fixed;
    transition: all 0.5s ease-in-out;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;

    &-menus {
      display: flex;
      gap: 1rem;
      list-style: none;
    }
  }

  &-nav.active {
    background-color: var(--color-background);
  }

  &-site-info {
    background-image: url('/index_header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;

    &-container {
      max-width: 1200px;
      margin: 0 auto;
      padding-bottom: 3em;

      & > h1 {
        font-size: var(--font-size-xxxl);
        color: var(--color-light);
        padding-bottom: 1rem;
      }

      & > p {
        font-size: var(--font-size-xl);
        color: var(--color-light);
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
}