<div class="post-detail-header">
  <h1 class="post-detail-title">
    <%= post.title %>
  </h1>

  <p class="post-detail-time">
    <%= time_tag post.created_at %>
  </p>
</div>

<div class="post">
  <div class="post-detail">
    <p class="post-detail-content">
      <%= markdown(post.content) %>
    </p>
  </div>
</div>

<%= button_to "删除", post_path(post), method: :delete %>




