<div class="container">
  <div id="posts">
    <% @posts.each do |post| %>
      <div class="post-desc">
        <p class="post-desc-title">
          <%= link_to post.title, post_path(post), data: { turbo_frame: "header"} %>
        </p>

        <p class="post-desc-time">
          <%= time_tag post.created_at %>
        </p>

        <p class="post-desc-content">
          <%= truncate(strip_tags(post.content), length: 50) %>
        </p>
      </div>
    <% end %>
  </div>
</div>

<!--    <p>-->
<%#= link_to "Show this post", post %>
<!--    </p>-->
<%#= link_to "New post", new_post_path %>
