.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-s);

  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  padding: var(--space-l);
  margin: 0 var(--space-s);

  @include media(tabletAndUp) {
    align-items: center;
    max-width: 1200px;
  }

  &-desc {
    @extend .post;
    gap: var(--space-xxxs);
    @include media(tabletAndUp) {
    }
  }

  &-desc-title {
    margin: 0;
    font-size: var(--font-size-xxl);
  }

  &-desc-time {
    margin: 0;
    opacity: 80%;
  }

  &-desc-content {
    margin: 0;
  }

  &-detail-header {
    background-image: url('/post_header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 38vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
    justify-self: flex-start;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);;
      z-index: -1;
    }
  }

  &-detail-title {
    text-align: center;
    font-size: var(--font-size-xxxl);
    color: var(--color-light);
    padding-bottom: 1rem;
  }

  &-detail-time {
    opacity: 80%;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }

  &-sidebar {
    line-height: var(--line-height-body);
    text-align: left;
  }

  &-sidebar-title {
    font-size: var(--font-size-m);
    font-weight: bold;
    margin-bottom: var(--space-xs);
  }

  &-sidebar-time {

  }

  &-list {
    @extend .post;
    padding: var(--space-l);
    margin: 0 var(--space-xxxxl);
    display: flex;
    gap: var(--space-l);
    height: 45vh;
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xl);
  }

  &_center {
    @include media(tabletAndUp) {
      margin: 0 auto;
    }
  }

  &--action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: var(--space-xl);
  }
}