.post {

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-s);

  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  padding: var(--space-l);
  //margin-bottom: var(--space-m);

  &-desc {
    @extend .post;
    @include media(tabletAndUp) {
      padding: var(--space-xs) var(--space-m);
    }
  }

  &-desc-title {
    font-size: var(--font-size-xxl);
  }

  &-desc-time {
    opacity: 80%;
  }

  &-detail-header {
    background-image: url('/post_header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 38vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);;
      z-index: -1;
    }
  }

  &-detail-title {
    text-align: center;
    font-size: var(--font-size-xxxl);
    color: var(--color-light);
    padding-bottom: 1rem;
  }

  &-detail-time {
    opacity: 80%;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }

  &-sidebar {
    line-height: var(--line-height-body);
    border-bottom: 1px solid gray;
    text-align: center;
  }

  &-sidebar-title {
    font-size: var(--font-size-l);
  }

  &-sidebar-time {

  }
}